body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: fantasy;
  color: greenyellow;
  font-weight: 900;
  font-size: 50px;
}

#color-palette {
  width: fit-content;
  margin: auto;
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

#board-size {
  width: 200px;
}

#pixel-board {
  height: auto;
  margin: auto;
  margin-top: 50px;
}

main {
  text-align: center;
}

input {
  border-radius: 5px;

}
button {
  margin-top: 50px;
  border-radius: 5px;
}